<mat-sidenav-container class="sidenav-container">
  <mat-sidenav (swipeleft)="drawer.close()" #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="'over'"
      [opened]="false">
    <mat-toolbar ><span>Samples</span></mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Sample 1</a>
      <a mat-list-item href="#">Sample 2</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar (swiperight)="drawer.open()" (swipeleft)="drawer.close()" color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>dynamique-form</span>
    </mat-toolbar>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
